.exportDialogHost {
  position: relative;
  width: 100%;
}

.systemBarClose {
  position: absolute;
  top: var(--spacing-1);
  right: var(--spacing-1);
  z-index: 3;
  display: inline-flex;
  padding: var(--spacing-0);
}

.systemBarClose :global(.eds-icon-button) {
  background-color: var(--material-hide);
}

.systemBarClose :global(.eds-icon-button > span) {
  color: var(--material-base-tertiary);
}

.systemBarClose :global(.eds-icon-button .eds-icon .eds-i-f),
.systemBarClose :global(.eds-icon-button .eds-icon path) {
  fill: currentColor;
}

.systemBarClose :global(.eds-icon-button:hover:not(:disabled):not(.isDisabled)),
.systemBarClose :global(.eds-icon-button:focus-visible:not(:disabled):not(.isDisabled)),
.systemBarClose :global(.eds-icon-button:active:not(:disabled):not(.isDisabled)) {
  background-color: var(--event-hover);
}

.systemBarClose :global(.eds-icon-button:hover:not(:disabled):not(.isDisabled) > span),
.systemBarClose :global(.eds-icon-button:focus-visible:not(:disabled):not(.isDisabled) > span) {
  color: var(--material-base-secondary);
}

.systemBarClose :global(.eds-icon-button:active:not(:disabled):not(.isDisabled) > span) {
  color: var(--material-base-tertiary);
}
